.auth-form-container {
    width: 450px;
    background: var(--surface-color);
    padding: 30px 80px;
    text-align: center;
    margin: 70px auto auto auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.auth-form-container__title {
    font-weight: 100;
    margin-top: 0;
}