.app-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-color);
    z-index: 10;
    width: 70px;
    overflow: hidden;
    transition: all .3s;
}

.app-bar--extended {
    width: 220px;
}

.app-bar__extension div {
    height: 70px;
    display: grid;
    align-content: center;
    padding-right: 10px;
    box-sizing: border-box;
}