.app-bar-button {
    height: 70px;
    font-size: 20px;
    background-color: var(--surface-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    white-space: nowrap;
    padding-left: 25px;
    text-align: left;
}
.app-bar-button svg {
    width: 25px!important;
}
.app-bar-button span {
    margin-left: 30px;
}

.app-bar-button:hover {
    background-color: var(--surface-color--hover);
}