.club-list {
    display: grid;
    grid-template-columns: 1fr auto;
    transition: all .3s;
    padding: 45px;
    grid-gap: 45px;
}

.club-list__body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    gap: 25px;
}