.input {
    background: var(--surface-color);
    border: none;
    border-radius: 10px;
    color: var(--on-surface-color);
    padding: 10px;
    box-sizing: border-box;

    &::placeholder {
        color: var(--on-surface-color--dimmed);
    }
}
